{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} News {% endblock title %}

{% block content %}
    <h1>News</h1>
    <h3>{{ time_now|date:'d-M-Y H:m' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <!-- <h3> {{ value1|default_if_none:"ничего" }} </h3>  Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->
    {% if news %} <!-- Если есть товары, то выводим таблицу с ними -->
    <table>
        <thead>
            <th>
                 Заголовок
            </th>
            <th>
                 Дата публикации
            </th>
            <th>
                 Категория
            </th>
             <th>
                 Текст
             </th>
            </tr>
        </thead>
    {% for news in news %} <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->
        <tr>
            <td>
                {{ news.title|censor }} <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т. д.  -->
            </td>
            <td>
                {{ news.dateCreation|date:'d-M-Y H:m' }}
            </td>
            <td>
                {{ news.categoryType }}
            </td>
            <td>
                {{ news.text|truncatechars:50|censor }} <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% else %}
        <h1>Новостей нет!</h1>
    {% endif %}
    {% endif %}
{% endblock content %}