{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Поиск новостей {% endblock title %}

{% block content %}

<h3>Поиск новостей</h3>

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
{% if filter %}
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Категория
        </th>
        <th>
            Текст
        </th>
    </thead>
{% for news in filter.qs %} <!-- Для каждой новости будет генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python.  поменяем на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
    <tr>
        <td>
            {{ filter.title|censor }}
        </td>
        <td>
            {{ filter.dateCreation|date:'d-M-Y H:m' }}
        </td>
        <td>
            {{ filter.categoryType }}
        </td>
        <td>
            {{ filter.text|truncatechars:50|censor }} <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
        </td>
    </tr>
{% endfor %}
</table>
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endif %}
{% endblock content %}